{% extends "base.html" %}

{% block conteudo %}
<div style="max-width: 400px; margin: 0 auto;">
    <h2 style="text-align: center;">Criar Nova Conta</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red; text-align: center;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.registro') }}" method="POST">
        <div class="form-group">
            <label>Escolha um Usuário</label>
            <input type="text" name="username" required placeholder="Ex: joao.silva">
        </div>
        <div class="form-group">
            <label>Escolha uma Senha</label>
            <input type="password" name="password" required placeholder="******">
        </div>
        <button type="submit" class="btn btn-blue" style="width: 100%;">Cadastrar</button>
    </form>
</div>
{% endblock %}